<template>
  <div id="{{ name }}-page-container">{{ name }} page</div>
</template>

<script>
export default {
  name: '{{ properCase name }}',
  data() {
    return {}
  },
  created() {
    console.log('当前页面：{{ name }}')
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
